@{
    Layout = null;
}
@model List<Dormitory>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/StuHome/index">查看个人信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/StuHome/AbsenceIndex">我的考勤</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/StuHome/DorIndex">查看宿舍卫生</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">宿舍报修与查看</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/StuHome/AddRepair">宿舍报修</a>
                        <a class="dropdown-item" href="/StuHome/RepairIndex">报修查看</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">请假</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/StuHome/AddLeave">请假</a>
                        <a class="dropdown-item" href="/StuHome/MyLeave">我的请假</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">用户信息</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/StuHome/StuDetails">查看用户</a>
                        <a class="dropdown-item" href="/StuHome/StuEdit">修改密码</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout1">退出</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
<div class="container">
    <h2>报修登记</h2>
    <form enctype="multipart/form-data" action="AddRepair" method="post">
        <div class="form-group">
            <label for="DormitoryId">报修宿舍:</label>
            <select class="select" name="DormitoryId">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.DorName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="time">报修时间:</label>
            <input type="text" class="form-control" name="time" value="" />
        </div>
        <div class="form-group">
            <label for="Remark">报修项目：</label>
            <input type="text" class="form-control" name="Remark">
        </div>
        <button type="submit" class="btn btn-primary">确认</button>
        <label class="col-form-label">@ViewBag.Msg</label>


    </form>
</div>
