@model RepairIndexModel
<div class="container">
    <h2>宿舍报修信息</h2>
    <div>
        寝室号：@Model.DormitoryName
    </div>
    <div>
        报修时间：@Model.Time
    </div>
    <div>
        报修项目：@Model.Remark
    </div>
    <div>
        <a href="/Home/RepairIndex">返回</a>
    </div>

</div>
