@model Dormitory
<div class="container">
    <h2>显示学生信息</h2>
    <div>
        寝室号：@Model.DorName
    </div>
    <div>
        几人间：@Model.NumPeople
    </div>
    <div>
        寝室成员 ：@Model.PeopleName
    </div>
    <div>
        备注：@Model.Remark
    </div>
    <a href="/Dor/index">返回</a>

</div>
